.multiSelector {
  display: inline-block;
  position: relative;
  width: 100%;

  &__selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 3px 70px 3px 7px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    border-radius: 4px;
    min-height: 40px;
    max-width: 100%;
    background: transparent;
    outline: none;
    color: #002033;
    font-weight: 400;
    font-size: 16px;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      height: calc(100% - 15px);
      right: 34px;
      border-left: 1px solid #cbd2d7
    }

    &__dropdown {
      border: none;
      background-color: transparent;
      outline: none;
      padding: 0;

      & > span {
        position: absolute;
        z-index: 1;
        top: 21px;
        right: 14px;
        border-top: 5px solid #7b8e9b;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transition: transform 0.4s ease-in-out;
      }

      &_close {
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;

        & > span {
          position: absolute;
          z-index: 1;
          top: 21px;
          right: 14px;
          border-top: 5px solid #7b8e9b;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          transition: transform 0.4s ease-in-out;
          transform: rotate(180deg);
        }
      }
    }

    &__text {
      color: #7b8e9b;
      padding: 0 8px 0 8px;

      &_hide {
        display: none;
      }
    }

    &__del {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 41px;
      top: 1px;
      width: 30px;
      height: 30px;
      padding: 0;
      opacity: 0.3;
      outline: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 15px;
        height: 16px;
        width: 2px;
        background-color: #333;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &__chosen {
      position: relative;
      padding: 8px;
      color: #2f5e7a;
      background-color: #edf2f4;
      border-radius: 3px;
      display: flex;
      margin: 1px 5px 2px 0;

      &__text{
        margin: 0;
      }

      &__del {
        width: 20px;
        height: 7px;
        opacity: 0.3;
        display: block;
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 10px;
          height: 13px;
          width: 2px;
          background-color: #333;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    &__boxOutputs {
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      max-height: 185px;
      margin: 13px 0 0;
      position: absolute;
      z-index: 4;
      background-color: #fff;
      box-shadow: 0 0 2px rgb(0 0 0 / 30%);
      transition: opacity 0.3s ease-in-out;

      &__item {
        padding: 17px 0 0 12px;
        display: flex;
      }

      &__input {
        display: none;
      }

      &__checkbox {
        position: relative;

        &::before {
          content: " ";
          display: inline-block;
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          background-color: white;
          border: 1px solid #B0B0B0;
          border-radius: 30%;
          margin-right: 6px;
        }
      }

      &__input:checked + &__checkbox::before {
        content: "";
        color: #fff;
        font-weight: 700;
        background-color: #0078D2;
        border: 1px solid #fff;
      }

      &__input:checked + &__checkbox::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 9.59px;
        height: 5.59px;
        box-sizing: border-box;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(308deg);
      }

      &_hide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
